.current-container {
    display: grid;
    
    
}

.current-wrapper {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.current-weather-top {
    background-color: var(--bgDayHeader);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.45);
    font-size: clamp(1rem, 2.5rem, 4rem);
    border-radius: 1rem;
    margin: 0 .5rem 2rem 0;
}

.current-weather-top img {
    width: clamp(4rem, 12rem, 16rem);
}

.current-weather-bottom {
    background-color: var(--bgDayHeader);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.45);
    font-size: clamp(1rem, 2.5rem, 4rem);
    margin: 0 0 2rem .5rem;
    border-radius: 1rem;
}

.forecast-wrapper {
    display: flex;
}

@media (max-width: 500px) {
    .current-wrapper {
        grid-template-columns: 1fr;
    }
}