.weather-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    min-height: 100vh;
}

.weather-search {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bgDayHeader);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.45);
    z-index: 2;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 16rem;
    height: 4rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    text-align: center;
    background-color: #faf2ef;
    font-size: 1.5rem;
}

.weather-search button {
    margin-left: 1rem;
    width: 16rem;
    height: 4rem;
    background-color: #dfb295;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.45);
    font-size: 1.5rem;
    font-weight: 600;
}

.weather-wrapper {
    grid-column: 1 / span 3;
    grid-row: 2 / span 7;
    padding: 2rem;
    background-color: var(--bgDayBody);
    
}

.forecast-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media (max-width: 900px) {
    .forecast-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .forecast-wrapper {
        grid-template-columns: 1fr;
    }
    
    .search-form {
        flex-direction: column;
        padding: 2rem 0;
    }

    .weather-search button {
        margin: 1rem 0 0 0;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }

    .search-input {
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }
}